/*--------------------------------------------------------------
# COMPONENT
--------------------------------------------------------------*/

/*
  Responsivator
  */

.device {
  position: relative;

  display: block;
  overflow: hidden;

  width: 544px;
  height: 320px;
  margin: 2rem auto;

  transform: scale(1) rotate(0deg);

  border: 30px solid #2b3030;
  border-bottom: 50px solid #2b3030;
  border-radius: 15px;
  background: #ddd;

  &:before {
    position: absolute;
    top: 50%;
    left: -50px;

    width: 40px;
    height: 40px;

    content: '';
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-duration: 0.5s;
    transition-property: all;
    transform: translateY(-50%) scale(0);

    opacity: 0;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #fff;
  }

  @at-root .responsive-check .device-desktop {
    width: 544px;
    height: 320px;
  }
}


.responsive-check .device-tablet,
.responsive-check .device-tablet-portrait {
  width: 409px;
  height: 307px;
  margin: 125px auto;

  border: 60px solid #2b3030;
  border-top: 15px solid #2b3030;
  border-right: 30px solid #2b3030;
  border-bottom: 15px solid #2b3030;
}
.responsive-check .device-tablet-portrait,
.responsive-check .device-mobile-portrait {
  transform: rotate(-90deg);
}
.responsive-check .device-mobile,
.responsive-check .device-mobile-portrait {
  width: 364px;
  height: 208px;

  border: 60px solid #2b3030;
  border-top: 10px solid #2b3030;
  border-right: 50px solid #2b3030;
  border-bottom: 10px solid #2b3030;
  border-radius: 20px;
}
.responsive-check .device-tablet:before,
.responsive-check .device-tablet-portrait:before,
.responsive-check .device-mobile:before,
.responsive-check .device-mobile-portrait:before {
  transform: translateY(-50%) scale(0.9);

  opacity: 1;
}
.responsive-check .device-mobile:before,
.responsive-check .device-mobile-portrait:before {
  transform: translateY(-50%) scale(1);
}
.responsive-check .device .device-screen {
  position: absolute;
  top: 50.5%;
  left: 50%;

  transform: translate(-50%,-50%);
}
.responsive-check .device.device-tablet .device-screen,
.responsive-check .device.device-mobile .device-screen {
  top: 51%;
}
.responsive-check .device.device-mobile-portrait .device-screen,
.responsive-check .device.device-tablet-portrait .device-screen {
    left: 49.5%;
}
.responsive-check .device.device-mobile-portrait .device-screen {
  top: 50%;
}
.responsive-check .device iframe {
  width: 1360px;
  height: 800px;

  transform: scale(0.4);

  border: 0;

}
.responsive-check .device-desktop iframe {
  width: 1360px;
  height: 800px;
}
.responsive-check .device-tablet-portrait iframe {
  width: 768px;
  height: 1024px;
}
.responsive-check .device-tablet iframe {
  width: 1024px;
  height: 768px;
}
.responsive-check .device-mobile iframe,
.responsive-check .device-mobile-portrait iframe {
  width: 560px;
  height: 320px;

  transform: scale(0.65);
}
.responsive-check .device-tablet-portrait .device-screen,
.responsive-check .device-mobile-portrait .device-screen {
  transform: translate(-50%,-50%) rotate(90deg);
}
.responsive-check .device-mobile-portrait iframe {
  width: 320px;
  height: 560px;
}

/*
 * Progress Bar
 */

 .skillbar {
 	position:relative;
 	display:block;
 	width:100%;
 	height:35px;
 	margin-bottom:15px;
 	transition:0.4s linear;
 	transition-property:width, background-color;
 	border-radius:3px;
 	background:#eee;

  .skillbar-title,
  .skillbar-bar {
    background-color: $primary;
  }

  .skillbar-title {
  	position:absolute;
  	top:0;
  	left:0;
  	color:#fff;
  	border-top-left-radius:3px;
  	border-bottom-left-radius:3px;
  	background:#6adcfa;
  	font-size:13px;
  	font-weight:normal;

   span {
   	display:block;
   	height:35px;
   	padding:0 20px;
   	border-top-left-radius:3px;
   	border-bottom-left-radius:3px;
   	background: lighten($primary, 10%);
    letter-spacing: 1px;
   	line-height:35px;
   }
  }

  .skillbar-bar {
  	width:0px;
  	height:35px;
  	border-radius:3px;
  }

  .skill-bar-percent {
  	position:absolute;
  	top:0;
  	right:10px;
  	height:35px;
  	color:#444;
  	color:rgba(0, 0, 0, 0.4);
  	font-size:11px;
  	line-height:35px;
  }
 }



/*
 * Tilter
 */

 .tilter {
 	position: relative;

 	display: block;
  float: left;

 	width: 33.33%;
 	height: 415px;
 	margin: 1.5em 2.5em;

 	color: #fff;

 	flex: none;
 	perspective: 1000px;
 }

 .tilter * {
 	pointer-events: none;

  @include ease-animation;
 }

 .tilter:hover,
 .tilter:focus {
 	color: #fff;
 	outline: none;
 }

 .tilter__figure,
 .tilter__image {
 	display: block;

 	width: 100%;
 	height: 100%;
 	margin: 0;
 }

 .tilter__figure > * {
 	transform: translateZ(0px); /* Force correct stacking order */
 }

 .tilter__figure {
 	position: relative;
 }

 .tilter__figure::before {
 	position: absolute;
 	top: 5%;
 	left: 5%;

 	width: 90%;
 	height: 90%;

 	content: '';

 	box-shadow: 0 30px 20px rgba(35,32,39,0.5);
 }

 .tilter__deco {
 	position: absolute;
 	top: 0;
 	left: 0;

 	overflow: hidden;

 	width: 100%;
 	height: 100%;
 }

 .tilter__deco--overlay {
 	background-image: linear-gradient(45deg, rgba(226, 60, 99, 0.4), rgba(145, 58, 252, 0.4), rgba(16, 11, 192, 0.4));
 }

 .tilter__deco--shine div {
 	position: absolute;
 	top: -50%;
 	left: -50%;

 	width: 200%;
 	height: 200%;

 	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.25) 50%, transparent 100%);
 }

 .tilter__deco--lines {
 	fill: none;
 	stroke: #fff;
 	stroke-width: 1.5px;
 }

 .tilter__caption {
 	position: absolute;
 	bottom: 0;

 	width: 100%;
 	padding: 4em;
 }

 .tilter__title {
 	margin: 0;

 	font-size: 2.5em;
 	font-weight: normal;
 	line-height: 1;
 }

 .tilter__description {
 	margin: 1em 0 0 0;

 	letter-spacing: 0.15em;

 	font-size: 0.85em;
 }

 /* Example 5 (line animating) */
 .tilter .tilter__deco--lines path {
 	transition: stroke-dashoffset 0.7s;

 	stroke-dasharray: 1270;
 	stroke-dashoffset: 1270;
 }

 .tilter:hover .tilter__deco--lines path {
 	stroke-dashoffset: 0;
 }

 .tilter .tilter__figure::before {
 	box-shadow: none;
 }


#contact {
  background-color: $primary;

  a {
    &.btn-default {
      color: $black;
      border: 2px solid $black;
    }
  }

  p a {
    text-decoration: none;

    &:before,
    &:after {
      @include default-animation;
    }
    &:before {
      position: static;

      margin-right: 5px;

      content: "[";

      opacity: 1;
    }
    &:after {
      position: static;

      margin-left: 5px;

      content: "]";
    }
    &:hover {
      &:before {
        padding-right: 5px;
      }
      &:after {
        padding-left: 5px;
      }
    }
  }
}

/*
 * Tabs
 */

 /*----- Tabs -----*/
 .tabs {
    display: inline-block;
    width: 100%;
}

/*----- Tab Links -----*/

/* Clearfix */
.tab-links {
  padding-left: 0;

  &:after {
    display: block;
    clear: both;
    content: '';
  }

  li {
    float: left;
    margin: 0 5px;
    list-style: none;

    a {
      display: inline-block;
      padding-bottom: 10px;
      font-weight: bold;
      font-size: 1em;
      opacity: 0.5;
      color: $black;

      &:hover {
        text-decoration: none;
        opacity: 1;
      }
    }

    &.active a,
    &.active a:hover {
      border-bottom: 6px solid $primary;
      opacity: 1;
    }
  }
}

/*----- Content of Tabs -----*/
.tab-content {
    padding: 15px 0;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}
